#Ejercicios de Preprocesamiento

Quispe Yahuira ronaldo

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 41 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 57.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=470986ed8212cff69663b3a3c35d8df5d69d1c9722d789e00364ed8025318b0f
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [2]:
from pyspark import SparkContext
sc =SparkContext()

In [5]:
#Creamos dos vectores "a","b"
a=[2,4,4,6]
b=[5,5,7,8]
p=3
c=list(zip( a, b))
print(c)

[(2, 5), (4, 5), (4, 7), (6, 8)]

#1.Distancia minkowski

In [6]:
def rest(tupla,p):
  return abs(tupla[0]-tupla[1])**p

In [7]:
RDD1=sc.parallelize(c)
#map asigna una funcion a cada registro RDD
RDD2=RDD1.map(lambda x: rest(x,p))
#.sum (): suma de valores
RDD3=RDD2.sum()
resul=RDD3**(1/p)
resul

3.9790572078963917

In [ ]:
from scipy import spatial
spatial.distance.minkowski(a, b, p=p, w=None)

3.9790572078963917

#2.cosenos

In [11]:
def Cosenos(x,y):
    """Calcula la similitud de cosenos de 2 RDD
    
    Args:
        X (RDD numeric):array RDD numeric
        Y (RDD numeric):array RDD numeric
    Returns:
        double: distancia de cosenos de vectores X e Y
    """
    def punto(x,y):
        """Producto punto de 2 RDD
    
        Args:
            X (RDD numeric):array RDD numeric
            Y (RDD numeric):array RDD numeric
        Returns:
            double: producto punto de X e Y
        """
        return x.zip(y).map(lambda x: x[0]*x[1]).reduce(lambda x , y :x+y) #reducimos sumando los productos 
            #Unimos los vectores generando un array de tupla(valor,valor)
            #mapeamos los valores multiplicandolos
    num=punto(x,y)#numerador producto punto de x e y
    den=punto(x,x)*punto(y,y)#denominador producto de los vectores normales de x e y
    return num/den

In [21]:
x = sc.parallelize(range(0,50),4)
y = sc.parallelize(range(100, 150),4)
print(sCosenos(x,y))

5.1313658596339945e-06

#3. Escalonamiento

In [24]:
x = [1,2,5,3,4,10,20,38,13,17,59,45,54,34]
xRDD = sc.parallelize(x) #Creamos nuestro RDD
minRDD = xRDD.max()#Hallamos el valor maximo
maxRDD = xRDD.min()#Hallamo el valor minimo
scaleRDD = xRDD.map(lambda x: (x - minRDD) / (maxRDD - minRDD))#Hallamos el escalonamineto aplicando las variables maximo y minimo
scaleRDD.collect()#Mostramos los datos

[1.0,
 0.9827586206896551,
 0.9310344827586207,
 0.9655172413793104,
 0.9482758620689655,
 0.8448275862068966,
 0.6724137931034483,
 0.3620689655172414,
 0.7931034482758621,
 0.7241379310344828,
 -0.0,
 0.2413793103448276,
 0.08620689655172414,
 0.43103448275862066]

#4.Normalizacion

In [26]:
import math
x = [1,3,5,7]
xRDD = sc.parallelize(x)#Creamos nuestro RDD
nxRDD = (xRDD.map(lambda x: x*2).sum()) * (1/2)#Normalizamos
normRDD = xRDD.map(lambda x: x/nxRDD) 
normRDD.collect()

[0.0625, 0.1875, 0.3125, 0.4375]

#5.Binario

Extrae los elementos [str]y los converite en tuplas (str,int)
    Args:
        X (Doc de array de str):
    Retorna: [(str,int)]: Vector de tuplas

In [29]:
def Binario(Doc):
    val=map(lambda x:(x,1),Doc)
    return list(val)

In [36]:
texto=[['Ronaldo', 'Ronaldo', 'Ronaldo', 'Ronaldo', 'Futbol', 'Real Madrid']
    ,['Ramos', ' Ramos', ' Ramos', ' Ronaldo', ' Messi', ' Iniesta', ' Futbol', 'Real Madrid']
    ,['Messi', ' Messi', ' Iniesta', ' Iniesta ', 'Iniesta', ' Ramos', ' Futbol', 'Barça']]
t=texto[0]
print(Binario(t))
Vec = sc.parallelize(texto,4)
Vec2 = Vec.map(lambda x:Binario(x))
Vec2.collect()

[('Ronaldo', 1), ('Ronaldo', 1), ('Ronaldo', 1), ('Ronaldo', 1), ('Futbol', 1), ('Real Madrid', 1)]

[[('Ronaldo', 1),
  ('Ronaldo', 1),
  ('Ronaldo', 1),
  ('Ronaldo', 1),
  ('Futbol', 1),
  ('Real Madrid', 1)],
 [('Ramos', 1),
  (' Ramos', 1),
  (' Ramos', 1),
  (' Ronaldo', 1),
  (' Messi', 1),
  (' Iniesta', 1),
  (' Futbol', 1),
  ('Real Madrid', 1)],
 [('Messi', 1),
  (' Messi', 1),
  (' Iniesta', 1),
  (' Iniesta ', 1),
  ('Iniesta', 1),
  (' Ramos', 1),
  (' Futbol', 1),
  ('Barça', 1)]]